<body class="main">
    <div class="content">
        <div class="img-cont">
           <div class="img-div">
              <div class="content1">
                 <div class="iner">
                    <h1>Home .<br> <b class="text-primary">Blogs And News</b></h1>
                 </div>
                 <h1 class="text-white fs-1">Expanding Our Knowledge & Yours,One Blog at a time.</h1>
                 <p class="text-primary fs-4">All the lastest news and events of our creative team.</p>
              </div>
           </div>
        </div>
    </div>
    <div class="container">
      <app-navbar></app-navbar>
    </div>
    <div class="contain">
       <h1 class="text-primary">Recent Post</h1> 
    </div>
    <div class="d-flex justify-content-center align-items-center content2">
        <div *ngFor="let element of myArray; let i = index" class="blog">
            <div class="blog-img">
                <img src={{element.image}} alt="">
            </div>  
            <div class="blog-content">
                <h1>{{element.title}}</h1>
                <p>{{element.content}}</p>
                <b class="text-primary">Post by {{element.author}}</b>
            </div>
        </div>
    </div>
    <div class="contain">
        <h1 class="text-primary">Must Read Articles</h1> 
    </div>
    <div class="d-flex justify-content-center align-items-center content2">
        <div *ngFor="let list of post; let i = index" class="blog">
          <div class="blog-img">
            <img src={{list.image}} alt="">
          </div>
          <div class="blog-content">
            <h1>{{list.title}}</h1>
            <p>{{list.content}}</p>
            <a class="text-primary" *ngIf="list.content.length > 50" (click)="showFullContent(i)">
                Read More
            </a>
         </div>
        </div>
    </div>

</body>
